body {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
    line-height: 1.6;
    max-width: 96%;
}
h1 {
    font-size: 26px;
    color: darkgreen;
    padding-bottom: 0.15rem;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 3rem;
}
h2 {
    font-size: 20px;
    color: darkgreen;
    padding-bottom: 0.15rem;
    border-bottom: 1px solid lightgray;
    margin-top: 1.5rem;
}
h3 {
    font-size: 18px;
    padding-bottom: 0.15rem;
    border-bottom: 1px solid lightgray;
    margin-top: 1.5rem;
}
